:root {
  --main-font-family: "Inter";
  --main-font-weight: 500;
  --main-semibold-font-weight: 600;
  --main-bold-font-weight: 700;
  --main-blue-color: #2f49d1;
  --main-black-color: #000;
  --main-blue-title: #0061f7;
  --main-white-color: #fff;
  --main-card-title-color: #001062;
  --main-table-text-color: #00072d;
  --main-background-color: #f0f2fa;
  --main-border-color: #2f49d199;
  --main-table-row-bg-color: rgba(0, 28, 175, 0.10);
}